<footer class="footer">
	<div class="container">
      <div class="link">
        <%= link_to '利用規約', user_policy_path, class:"link2" %>
        <%= link_to 'プライバシーポリシー', privacy_policy_path, class:"link2" %>
        <%= link_to 'お問い合わせ', inquiry_path, class:"link2" %>
      </div>
      <div class="copy-right"><small>&copy;2022 paimon-oshi-refinor</small></div>
	</div>
</footer>
